@charset "UTF-8";

.content {
	width : 100%;
	margin-top : 120px;
}

/* visual 영역 시작 */

.visualwrap {
	width: 100%;
	height: 600px;
	position: relative;
	margin-bottom : 100px;
}

.visual-bg {
	position : absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
}

.visualboxwrap {
	position : relative;
	width: 100%;
	height: 100%;
}

.visualboxwrap .discharge-img {
	position: absolute;
	opacity: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.visualbox {
	width : 100%;
	height : 100%;
	position : relative;
	display : flex;
	flex-direction: column;
	margin : 0 auto;
	align-items: center;
	justify-content: center;
}

.visualbox p {
	font-size : 80px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #fff;
	margin-bottom : 20px;
}

.subMenuTab {
	margin : 0 auto;
	width: 100%;
	display : flex;
	align-items: center;
	justify-content: center;
	gap : 25px;
}

.homeIcon {
	width: 30px;
	height: 30px;
}

.homeIcon img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.subMenuTab .arrow {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

.subMenuTab a {
	font-size : 20px;
	letter-spacing: -0.25px;
	color: #fff;
}

.subMenuTab a:nth-child(5) {
	font-weight: bold;
}

/* visual 영역 끝 discharge 영역 시작 */

.titlewrap {
	width: 100%;
	margin-bottom : 60px;
}

.title {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	align-items: center;
}

.titleText {
	margin : 0 auto;
	text-align : center;
	display : flex;
	flex-direction: column;
}

.titleText span {
	font-size : 24px;
	letter-spacing: -25%;
	color : #1C3D5A;
	margin-bottom : 20px;
	font-weight: bold;
	margin-bottom : 15px;
}

.titleText p {
	font-size : 50px;
	color : #333333;
}

.titleText p b {
	font-weight: bold;
}

.subVisualwrap {
	width : 100%;
	margin-bottom : 80px;
}

/* discharge 영역 끝 subVisual 영역 시작 */

.subVisual {
	width : 100%;
	max-width: 1620px;
	height : 400px;
	margin : 0 auto;
	display :flex;
	position: relative;
}

.subVisual-bg {
	width : 100%;
	height : 100%;
	background-color : #000;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.16);
	position: absolute;
}

.subVisualBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.subVisualBox img{
	width: 100%;
	height : 100%;
	background-repeat: no-repeat;
	opacity: 65%;
	position: absolute;
}

.subVisualBox p {
	color : #fff;
	position: relative;
	font-size : 40px;
	line-height: 65px;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
}

.subVisualBox p b {
	font-weight: bold;
}

.discharge-bg {
	width: 100%;
	height: 1900px;
	background-color: #F5F5F5;
	position: absolute;
	top : 1188px;
	z-index: -10;
}

/* subVisual 영역 끝 admission 영역 시작 */

.admissionContentwrap {
	width : 100%;
	margin-bottom : 80px;
}

.admissionContent {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	position: relative;
	flex-direction: column;
}

.admissionTitle {
	width: 100%;
	margin-bottom : 35px;
}

.admissionTitle span {
	display : flex;
	font-size : 24px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 15px;
}

.admissionSubTitle {
	width : 100%;
	display : flex;
}

.admissionSubTitle p {
	font-size : 40px;
	line-height: 50px;
	color : #333;
}

.admissionSubTitle p b {
	font-weight: bold;
}

.admissionLine {
	display : flex;
	align-self : flex-end;
	position : absolute;
	right : 0;
	width : 86%;
	height: 2px;
	background-color: #DDDDDD;
	margin-bottom : 6px;
}

.admission {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	position: relative;
	gap : 15px;
}

.admissionbox {
	display : flex;
	flex-direction : column;
	align-items: center;
	text-align : center;
	justify-content: center;
	width : 530px;
	height: 400px;
	background-color: #fff;
	border : 1px solid #ddd;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s easeW;
}

.admissionbox:hover {
	background-color : #1C3D5A;
	border : none;
}

.admissionbox:hover .admissionboxText p,
.admissionbox:hover .admissionboxText span {
	color : #fff;
}

.admissionbox:hover .admissionboxText img {
	filter : invert(1) brightness(100);
}

.admissionboxText img {
	width: 100px;
	height: 100px;
	margin-bottom : 15px;
}

.admissionboxText p {
	font-size : 30px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 10px;
}

.admissionboxText span {
	font-size : 20px;
	letter-spacing: -0.5px;
	line-height: 30px;
	color : #333;
}

/* subVisual 영역 끝 discharge 영역 시작 */

.dischargeContentwrap {
	width : 100%;
	margin-bottom : 150px;
}

.dischargeContent {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	position: relative;
	flex-direction: column;
}

.dischargeTitle {
	width: 100%;
	margin-bottom : 35px;
}

.dischargeTitle span {
	display : flex;
	font-size : 24px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 15px;
}

.dischargeSubTitle {
	width : 100%;
	display : flex;
}

.dischargeSubTitle p {
	font-size : 40px;
	line-height: 50px;
	color : #333;
}

.dischargeSubTitle p b {
	font-weight: bold;
}

.dischargeLine {
	display : flex;
	align-self : flex-end;
	position : absolute;
	right : 0;
	width : 86%;
	height: 2px;
	background-color: #DDDDDD;
	margin-bottom : 6px;
}

.discharge {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	position: relative;
	gap : 7px;
}

.dischargebox {
	display : flex;
	flex-direction : column;
	align-items: center;
	text-align : center;
	justify-content: center;
	width : 400px;
	height: 400px;
	background-color: #fff;
	border : 1px solid #ddd;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s easeW;
}

.dischargebox:hover {
	background-color : #1C3D5A;
	border : none;
}

.dischargebox:hover .dischargeboxText p,
.dischargebox:hover .dischargeboxText span {
	color : #fff;
}

.dischargebox:hover .dischargeboxText img {
	filter : invert(1) brightness(100);
}

.dischargeboxText img {
	width: 100px;
	height: 100px;
	margin-bottom : 15px;
}

.dischargeboxText p {
	font-size : 30px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 10px;
}

.dischargeboxText span {
	font-size : 20px;
	letter-spacing: -0.5px;
	line-height: 30px;
	color : #333;
}