<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>음식점 추천 경로</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/bus/list.css}">
<script th:src="@{/js/bus/list.js}"></script>
<script type="text/javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${scriptKey}}"></script>
<style>
	#map-container {
      width: 100%;
      height: 100vh;
    }
    
    #map {
      width: 100%;
      height: 100%;
    }
</style>
</head>
<body>
	<div class="content">
		<div class="listwrap">
			<div class="list">
				<div class="header">
					<div class="gnb-btn" title="전체메뉴 열기">
				        <div class="bar"></div>
				        <div class="bar"></div>
				        <div class="bar"></div>
				    </div>
				    <a th:href="@{/main}">SmartCare</a>
				</div>
				<div class="aiRecommentBox">
                    <p class="aiText-title"><span th:text="${#authentication.principal.memberName}"></span>이 선택하신 음식점 추천 경로</p>
                    <div class="aiBusBox">
                        <img th:src="${foodPlace.imageUrl}" alt="음식점 이미지">
                        <div class="busText">
                            <div class="busText-Text">
                                <p>• 추천 경로</p>
                                <div class="heightLine"></div>
                                <span>5개</span>
                                <!-- 추가 내용 -->
                            </div>
                            <span class="busText-subText">AI를 기반으로 <span th:text="${#authentication.principal.memberName}"></span>이 선택하신<br>
                            음식점의 최적의 경로를 추천드립니다.</span>
                        </div>
                    </div>
                </div>
                
                <div class="route-toggle">
                	<button id="transitBtn" class="active">버스</button>
                	<button id="walkingBtn">도보</button>
                </div>
                
				<div class="busListwrap">
				    <div class="busList">
				        <div class="busListBox">
				            <ul id="busRoutes">
				            </ul>
							<div id="routeContainer"></div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<!-- 지도 자리 -->
		<div id="map-container">
			<div id="map"></div>
		</div>
	</div>
	
	<script type="text/javascript">
		document.getElementById("transitBtn").addEventListener("click", function() {
			location.reload();
		});
		
		document.getElementById("walkingBtn").addEventListener("click", function() {
	        const params = new URLSearchParams(window.location.search);
			
	        const detailElement = document.querySelector("#detail .detail");
	        if (detailElement) {
	        	const fno = detailElement.getAttribute("data-fno");
	        	if (fno) {
	        		params.set("fno", fno);
	        	}
	        }
	        
	        window.location.href = `/walking?${params.toString()}`;
		});
	</script>
</body>
</html>