<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>예약 가능한 날짜</title>
</head>
<body>
<h1>예약 가능한 날짜</h1>

<table>
  <thead>
  <tr>
    <th>날짜</th>
    <th>예약</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="date : ${availableDates}">
    <td th:text="${date}"></td>
    <td>
      <form th:action="@{/reservation/create}" method="post">
        <input type="hidden" name="reservationDate" th:value="${date}">
        <input type="hidden" name="employeeNo" th:value="${selectedEmployeeNo}">
        <input type="hidden" name="timeSlot" th:value="${selectedTimeSlot}">
        <input type="hidden" name="memberNo" th:value="${selectedMemberNo}">
        <input type="hidden" name="patientRecordCardNo" th:value="${patientRecordCardNo}">
        <input type="hidden" name="status" th:value="${status}">
        <button type="submit">예약하기</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
