<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'음식점 리스트 -' + ${currentCategory}">음식점</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/health/list.css}">
<link rel="stylesheet" th:href="@{/css/health/detail.css}">
<script th:src="@{/js/health/detail.js}"></script>
<script th:src="@{/js/health/list.js}"></script>
<script type="text/javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${scriptKey}}"></script>
<script th:src="@{/js/health/map.js}"></script>
<style>
	#map-container {
		flex : 1;
	    height: 100vh;
	}

	#map {
	    width: 100%;
	    height: 100%;
	}
</style>
</head>
<body>
	<div class="content">
		<div class="listwrap">
			<div class="list">
				<div class="header">
					<div class="gnb-btn" title="전체메뉴 열기">
				        <div class="bar"></div>
				        <div class="bar"></div>
				        <div class="bar"></div>
				    </div>
				    <a th:href="@{/main}">SmartCare</a>
				</div>
				<div class="aiRecommentBox">
					<p class="aiText-title"><b>ooo님</b>을 위한 <b><span th:text="${currentCategory}"></span></b> 추천</p>
					<div class="aiFoodBox">
						<img th:src="${selectedCategory.categoryImage}" alt="카테고리 이미지">
						<div class="foodText">
							<div class="foodText-Text">
								<p>• 총 음식점</p>
								<div class="heightLine"></div>
								<span th:text="${#lists.size(foodPlaces)} + '개'"></span>
							</div>
							<span class="foodText-subText"><b>ooo님</b>의 치료에 도움이 되는<br>
							음식으로 추천드립니다.</span>
						</div>
					</div>
				</div>
				<div class="foodListwrap">
					<p class="foodList-Title" th:text="${currentCategory} + '음식점'"></p>
					<div class="foodList">
						<div class="foodListBox" >
							<ul>
								<li th:each="foodPlace, stat : ${foodPlaces}"
				                    th:data-fno="${foodPlace.fno}"
				                    th:data-latitude="${foodPlace.latitude}"
				                    th:data-longitude="${foodPlace.longitude}"
				                    th:onclick="'loadDetail(' + ${foodPlace.fno} + ')'" >
                                    <p class="foodPlaceFno" th:text="${stat.index + 1}"></p>
                                    <img th:src="${foodPlace.imageUrl}" alt="음식점 이미지">
                                    <div class="foodListBox-Text">
                                        <h3 th:text="${foodPlace.foodName}"></h3>
                                        <p th:text="${foodPlace.foodAddressRoad}"></p>
                                    </div>
                                    <button class="like-btn"
								            type="button"
								            th:data-fno="${foodPlace.fno}"
								            th:data-likes="${foodPlace.likes}">
                                        <span class="heart">
                                            <img th:src="@{/img/health/heartOff.png}">
                                        </span>
                                        <span class="likes-count"
									          th:text="${foodPlace.likes}"
									          data-count="${foodPlace.likes}"
									          style="display:none;"></span>
                                    </button>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 상세페이지 자리 -->
		<div id="detail" class="hidden"></div>
		<!-- 지도 자리 -->
		<div id="map-container">
			<div id="map"></div>
		</div>
	</div>
</body>
</html>