<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Discharge Page</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/discharge/discharge.css}">
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
	<div class="content">
		<div class="visualwrap">
			<div class="visual-bg"></div>
			<div class="visualboxwrap">
				<img class="discharge-img" alt="discharge 이미지" th:src="@{/img/discharge/discharge.png}">
				<div class="visualbox">
					<p>입퇴원 절차</p>
					<div class="subMenuTab">
						<a class="homeIcon" th:href="@{/main}"><img alt="메인돌아가기" th:src="@{/img/company/company/home.png}"></a>
						<img class="arrow" alt="arrow" th:src="@{/img/company/company/arrow.png}">
						<a href="discharge">입퇴원 안내</a>
						<img class="arrow" alt="arrow" th:src="@{/img/company/company/arrow.png}">
						<a href="discharge">입퇴원 절차</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="titlewrap">
			<div class="title">
				<div class="titleText">
					<span>신속한 입원, 간편한 퇴원</span>
					<p>스마트케어 <b>입퇴원 절차</b></p>
				</div>
			</div>
		</div>
		
		<div class="subVisualwrap">
			<div class="subVisual">
				<div class="subVisual-bg"></div>
				<div class="subVisualBox">
					<img alt="subVisual 이미지" th:src="@{/img/discharge/dischargevisualbox.png}">
					<p>스마트케어의 입퇴원 절차는 빠르고 간편하게 진행되면,<br><b>환자의 편의를 최우선으로 한 맞춤형 서비스를 제공합니다.</b></p>
				</div>
			</div>
		</div>
		
		<div class="discharge-bg"></div>
		
		<div class="admissionContentwrap">
			<div class="admissionContent">
				<div class="admissionTitle">
					<span>SMART CARE</span>
					<div class="admissionSubTitle">
						<p>신속한 입원<br><b>입원수속절차</b></p>
						<div class="admissionLine"></div>
					</div>
				</div>
				
				<div class="admission">
					<div class="admissionbox">
						<div class="admissionboxText">
							<img alt="입원 결정 icon" th:src="@{/img/discharge/dischargeicon1.png}">
							<p>입원 결정</p>
							<span>외래 또는 응급실에서 진료를 받으신 후<br>
							입원결정 지시에 따라 본원 1층 원무팀 입원계 청구에서<br>
							입원수속 및 입원예약을 하십시오.</span>
						</div>
					</div>
					
					<div class="admissionbox">
						<div class="admissionboxText">
							<img alt="입원 수속결정 icon" th:src="@{/img/discharge/dischargeicon2.png}">
							<p>입원 수속결정</p>
							<span>입원결정서(병원양식), 주민등록증,<br>
							의료보험증을 제출하시면<br>
							담당 직원이 입원 수속해 드립니다.</span>
						</div>
					</div>
					
					<div class="admissionbox">
						<div class="admissionboxText">
							<img alt="입원 진료 icon" th:src="@{/img/discharge/dischargeicon3.png}">
							<p>입원 진료</p>
							<span>병원 생활에 대한 궁금하신 사항은<br>
							입원 생활안내 페이지를 확인하시거나,<br>
							간호사에게 문의하시기 바랍니다.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="dischargeContentwrap">
			<div class="dischargeContent">
				<div class="dischargeTitle">
					<span>SMART CARE</span>
					<div class="dischargeSubTitle">
						<p>간편한 입원<br><b>퇴원수속절차</b></p>
						<div class="dischargeLine"></div>
					</div>
				</div>
				
				<div class="discharge">
					<div class="dischargebox">
						<div class="dischargeboxText">
							<img alt="퇴원 결정 icon" th:src="@{/img/discharge/dischargeicon4.png}">
							<p>퇴원 결정</p>
							<span>담당의사가 퇴원을 결정하면<br>
							병동간호사실에서 퇴원절차를<br>
							안내 받으실 수 있습니다.</span>
						</div>
					</div>
					
					<div class="dischargebox">
						<div class="dischargeboxText">
							<img alt="퇴원 심사 icon" th:src="@{/img/discharge/dischargeicon5.png}">
							<p>퇴원 심사</p>
							<span>의료정보심사팀에서<br>
							진료비에 대하여 심사합니다.</span>
						</div>
					</div>
					
					<div class="dischargebox">
						<div class="dischargeboxText">
							<img alt="퇴원비 수납 icon" th:src="@{/img/discharge/dischargeicon6.png}">
							<p>퇴원비 수납</p>
							<span>퇴원심사가 완료되면<br>
							1층 원무팀 입/퇴원계에서<br>
							진료비를 수납하시면 됩니다.</span>
						</div>
					</div>
					
					<div class="dischargebox">
						<div class="dischargeboxText">
							<img alt="퇴원 수속 icon" th:src="@{/img/discharge/dischargeicon7.png}">
							<p>퇴원 수속</p>
							<span>진료비 수납 후 계산서를 받아<br>
							약제실에 교환증을 제출하면<br>
							약을 수령하고 귀가하시면 됩니다.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>