<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
</head>
<body>
    <div th:replace="~{layout/header :: header}"></div>
    <div class="content">
        <div class="loginwrap">
            <div class="login">
                <p>로그인</p>
                <form th:action="@{/member/login}" method="post">
                    <div class="form-group">
                        <input type="text" id="id" name="username" required placeholder="아이디">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" required placeholder="비밀번호">
                    </div>
                    <div th:if="${param.error}">
					    <p style="
								  font-size : 16px;
								  color : red;
								  width : 100%;
								  margin : 0;
								  font-weight: 500;
								  letter-spacing: -0.5px;
								  margin-bottom : 20px;">
						아이디 또는 비밀번호가 잘못되었습니다.</p>
					</div>
                    <div class="form-group-2">
                        <button type="submit">로그인</button>
                    </div>
                    <a href="/oauth2/authorization/kakao" class="kakao-login-btn">
                    	<img alt="카카오" th:src="@{/img/member/kakao-login.png}">
                    </a>
                </form>
                <div class="info-find">
                    <a th:href="@{/member/find-id}" class="findStyle">아이디 찾기</a>
                    <div class="info-line"></div>
                    <a th:href="@{/member/find-password}" class="findStyle">비밀번호 찾기</a>
                    <div class="info-line"></div>
                    <a th:href="@{/member/division}" class="findStyle">회원가입</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
    <script>
        document.querySelector("form").addEventListener("submit", function (event) {
            const id = document.getElementById("id").value;
            const password = document.getElementById("password").value;

            if (id.length < 6) {
                alert("아이디는 최소 6자 이상이어야 합니다.");
                event.preventDefault();
            }

            if (password.length < 6) {
                alert("비밀번호는 최소 6자 이상이어야 합니다.");
                event.preventDefault();
            }
        });
    </script>
</body>
</html>