@charset "UTF-8";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    transition: height 0.3s ease;
    background-color: #fff;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transition: height 0.3s ease;
}

.header.expanded {
    height: 300px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
}

.navbar {
    position: relative; 
    top: 0;
    width: 100%;
    height: 120px; 
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    z-index: 10;
    transition: padding-top 0.3s ease;
}

.logo img {
    width: 200px;
    height: 60px;
}

.menu {
    display: flex;
}

.menu-item {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.menu-item > a {
    color: #333;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    width: 200px;
    text-align: center;
}

.menu-item > a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transform: translateX(-50%);
    margin-top: 10px;
    transition: width 0.3s ease;
}

.menu-item:hover > a::after {
    width: 80%;
}

.subMenu {
    margin-top: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    background-color: #fff;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 100;
}

.header.expanded .subMenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.menu-item:hover .subMenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.subMenu li {
    padding: 10px 0px;
}

.subMenu li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    text-align: center;
}

.subMenu li a:hover {
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.login img {
    width: 35px;
    height: 35px;
}

.gnb-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.gnb-btn .bar {
    background-color: #333;
    width: 100%;
    height: 3px;
    transition: background-color 0.3s ease;
}

.gnb-btn:hover .bar {
    background-color: #007bff;
}

.expanded-content {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: #fff; 
    display: none;
    z-index: 5;
}

.header.expanded .expanded-content {
    display: block;
} 