<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">

  <header class="header" style="background-color: #b4e2e4" th:height="120px">
    <div>
      <a th:href="@{/erp}">메인 페이지</a>
      <div>
        <h4>진료</h4>
        <a th:href="@{/erp/patients/register}">환자 등록</a>
        <a th:href="@{/erp/patients/list}">접수 목록</a>
      </div>
      <div>
        <h4>예약</h4>
        <a th:href="@{/erp/record/list}">예약 목록</a>
        <a th:href="@{/reservation/create}">예약</a>

        <!-- 새창 열림 테스트 -->
        <a th:href="@{/reservation/register?user_id=1}" target="_blank">유저1로 접속</a>
        <a th:href="@{/reservation/register?user_id=2}" target="_blank">유저2로 접속</a>
        <a th:href="@{/reservation/register?user_id=3}" target="_blank">유저3로 접속</a>
        <a th:href="@{/reservation/register?user_id=4}" target="_blank">유저4로 접속</a>
      </div>
    </div>
    <hr>
  </header>

</th:block>