@charset "UTF-8";

.content {
	width : 100%;
	margin-top : 120px;
}

/* visual 영역 시작 */

.visualwrap {
	width: 100%;
	height: 600px;
	position: relative;
	margin-bottom : 100px;
}

.visual-bg {
	position : absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
}

.visualboxwrap {
	position : relative;
	width: 100%;
	height: 100%;
}

.visualboxwrap .company-img {
	position: absolute;
	opacity: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.visualbox {
	width : 100%;
	height : 100%;
	position : relative;
	display : flex;
	flex-direction: column;
	margin : 0 auto;
	align-items: center;
	justify-content: center;
}

.visualbox p {
	font-size : 80px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #fff;
	margin-bottom : 20px;
}

.subMenuTab {
	margin : 0 auto;
	width: 100%;
	display : flex;
	align-items: center;
	justify-content: center;
	gap : 25px;
}

.homeIcon {
	width: 30px;
	height: 30px;
}

.homeIcon img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.subMenuTab .arrow {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

.subMenuTab a {
	font-size : 20px;
	letter-spacing: -0.25px;
	color: #fff;
}

.subMenuTab a:nth-child(5) {
	font-weight: bold;
}

/* visual 영역 끝 company 영역 시작 */

.titlewrap {
	width: 100%;
	margin-bottom : 60px;
}

.title {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	align-items: center;
}

.titleText {
	margin : 0 auto;
	text-align : center;
	display : flex;
	flex-direction: column;
}

.titleText span {
	font-size : 24px;
	letter-spacing: -25%;
	color : #1C3D5A;
	margin-bottom : 20px;
	font-weight: bold;
	margin-bottom : 15px;
}

.titleText p {
	font-size : 50px;
	color : #333333;
}

.titleText p b {
	font-weight: bold;
}

/* company 영역 끝 map 영역 시작 */

.locationwrap {
	width : 100%;
	margin-bottom : 150px;
}

.locationimg {
	width : 100%;
	display : flex;
	flex-direction : column;
	position: relative;
	margin : 0 auto;
}

.locationvisualbox {
	width : 100%;
	height: 450px;
	display : flex;
	flex-direction : column;
	position: absolute;
}

.location-bg {
	position : absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.locationimg img {
	width : 100%;
	height: 100%;
	position: relative;
	opacity: 30%;
	background-repeat: no-repeat;
}

.map {
	width : 100%;
	max-width: 1620px;
	height : 600px;
	display :flex;
	position: relative;
	margin : 0 auto;
  	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  	margin-bottom : 80px;
  	margin-top : 150px;
}

/* company 영역 끝 location 영역 시작 */

.location {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	position: relative;
	flex-direction: column;
}

.locationTitle {
	width: 100%;
	margin-bottom : 35px;
}

.locationTitle span {
	display : flex;
	font-size : 24px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 15px;
}

.locationSubTitle {
	width : 100%;
	display : flex;
}

.locationSubTitle p {
	font-size : 40px;
	line-height: 50px;
	color : #333;
}

.locationSubTitle p b {
	font-weight: bold;
}

.locationLine {
	display : flex;
	align-self : flex-end;
	position : absolute;
	right : 0;
	width : 89%;
	height: 2px;
	background-color: #DDDDDD;
	margin-bottom : 6px;
}

.infobox {
	display : flex;
	gap : 20px;
}

/* info-address 영역 */

.info-address {
	display : flex;
	flex-direction : column;
	width : 800px;
	height: 300px;
	border : 1px solid #ddd;
	justify-content: center;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.info-address:hover{
	background-color : #1C3D5A;
	border : none;
}

.info-address:hover .info-address-text p,
.info-address:hover .info-address-text span {
    color: #fff;
}

.info-address-text {
	margin-left : 50px;
	display : flex;
	flex-direction : column;
	transition: color 0.3s ease;
}

.info-address-text p {
	font-size : 35px;
	letter-spacing: -0.4px;
	margin-bottom : 25px;
	font-weight: bold;
	color : #1C3D5A;
}

.info-address-text span {
	font-size : 20px;
	letter-spacing: -0.25px;
	color : #333;
	margin-bottom : 15px;
}

.info-address-text span:nth-last-child(1) {
	margin-bottom : 0px;
}

.info-address-text span b {
	font-weight: bold;
}

/* info-bus 영역 */

.info-bus {
	display : flex;
	flex-direction : column;
	width : 800px;
	height: 300px;
	border : 1px solid #ddd;
	justify-content: center;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.info-bus:hover{
	background-color : #1C3D5A;
	border : none;
}

.info-bus:hover .info-bus-text p,
.info-bus:hover .info-bus-text span {
    color: #fff;
}

.info-bus-text {
	margin-left : 50px;
	display : flex;
	flex-direction : column;
	transition: color 0.3s ease;
}

.info-bus-text p {
	font-size : 35px;
	letter-spacing: -0.4px;
	margin-bottom : 25px;
	font-weight: bold;
	color : #1C3D5A;
}

.info-bus-text span {
	font-size : 20px;
	letter-spacing: -0.25px;
	color : #333;
	margin-bottom : 15px;
}

.info-bus-text span:nth-last-child(1) {
	margin-bottom : 0px;
}