@charset "UTF-8";

.content {
	width : 100%;
}

.detailwrap {
	width : 450px;
	height: 100%;
	flex-shrink: 0;
	display: none;
}

.detailwrap.visible {
    display: block;
}

.detail {
	display : flex;
	flex-direction: column;
	width : 100%;
	height: 100%;
	position: relative;
}

.detailImage {
	width : 450px;
	height: 250px;
}

.detailImage img {
	width : 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

.detailTitle {
	position : relative;
	top : -100px;
	width : 400px;
	height: 200px;
	display: flex;
	margin : 0 auto;
	justify-content : center;
	align-items : center;
	flex-direction: column;
	background-color : #fff;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.12);
	margin-bottom : -70px;
}

.detailTitle h2 {
	font-size : 30px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #333;
	margin-bottom : 15px;
}

.clickBtn {
	display : flex;
	align-items: center;
	margin-bottom : 15px;
}

.clickBtn span {
	gap : 10px;
	display : flex;
}

.clickBtn span:nth-child(1) {
	margin-right : 15px;
}

.clickBtn img {
	width : 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
}

.clickBtn b {
	font-size : 20px;
	letter-spacing: -0.25px;
	color : #333;
	display : flex;
	align-items: center;
}

.clickBtnLine {
	width : 1px;
	height: 15px;
	background-color: #707070;
	display : flex;
	align-items: center;
	margin-right : 15px;
}

.detailTitle button {
	display : flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width : 220px;
	height: 50px;
	background-color: #1C3D5A;
	color : #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.25px;
	cursor: pointer;
}

.detailContent {
	display : flex;
	flex-direction: column;
	padding-left : 25px;
}

.detailContent h3 {
	font-size : 24px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #333;
	margin-bottom : 15px;
}

.detailAddress {
	display : flex;
	align-items: center;
	margin-bottom : 20px;
}

.detailAddress img {
	width : 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right : 10px;
}

.detailAddressText {
	display : flex;
	flex-direction: column;
}

.detailAddressText span {
	font-size: 16px;
	letter-spacing: -0.5px;
	color : #333;
	line-height: 22px;
}

.detailBusiness {
	display : flex;
	align-items: center;
	margin-bottom : 20px;
}

.detailBusiness img {
	width : 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right : 10px;
}

.detailBusinessText {
	display : flex;
	flex-direction: column;
}

.detailBusinessText b {
	font-size : 16px;
	font-weight: bold;
	letter-spacing: -0.5px;
	color : #1C3D5A;
}

.detailBusinessText span {
	font-size: 16px;
	letter-spacing: -0.5px;
	color : #333;
	line-height: 22px;
}

.detailPhoneNumber {
	display : flex;
	align-items: center;
	margin-bottom : 30px;
}

.detailPhoneNumber img {
	width : 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right : 10px;
}

.detailPhoneNumber span {
	font-size: 16px;
	letter-spacing: -0.5px;
	color : #333;
}

.detailContentLine {
	width : 450px;
	height: 1px;
	background-color: #ddd;
	margin-bottom : 30px;
}

.comentAndRating {
  width: 450px;
  overflow: hidden;
}

.comentHeader {
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-bottom : 15px;
}

.comentHeader h3 {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.25px;
  color: #333;
}

.comentList {
  max-height: 175px;
  overflow-y: scroll;
}

.comentList li {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width : 350px;
  height : 120px;
  padding-left : 25px;
}

.comentList li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-41.5%);
  width: 360px;
  height: 1px;
  background-color: #ddd;
}

.comentList li:last-child::after {
  display: none;
}

.comentList p {
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom : 5px;
}

.comentInfo {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  color: #AAA;
  letter-spacing: -0.5px;
}

.comentInfo small {
  font-size: 14px;
}

.comentInfo span {
  color: #FFD700;
  font-size: 16px;
}

.comentFormwrap {
  width: 450px;
  padding: 20px 25px;
}

.comentFormwrap form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comentFormwrap .rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.writeBox {
	display : flex;
}

.comentFormwrap .stars {
  display: flex;
  gap: 3px;
}

.comentFormwrap .stars .star {
  font-size: 16px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s ease;
}

.comentFormwrap .stars .star.selected {
  color: #FFD700;
}

.comentFormwrap textarea,
.comentFormwrap input[type="text"] {
  font-size: 16px;
  padding : 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: inherit;
  justify-content: center;
}

.comentFormwrap textarea {
	width : 75%;
	margin-right : 5px;
}

.comentFormwrap input {
	width : 25%;
}

.comentFormwrap button {
  padding: 10px;
  background-color: #1C3D5A;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.comentFormwrap button:hover {
  background-color: #163044;
}

.comentList::-webkit-scrollbar {
  width: 5px;
}

.comentList::-webkit-scrollbar-track {
  background: #F5F5F5;
}

.comentList::-webkit-scrollbar-thumb {
  background: #AAAAAA;
  border-radius: 50px;
}