@charset "UTF-8";

.content {
	width : 100%;
	margin-top : 120px;
}

/* visual 영역 시작 */

.visualwrap {
	width: 100%;
	height: 600px;
	position: relative;
	margin-bottom : 100px;
}

.visual-bg {
	position : absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
}

.visualboxwrap {
	position : relative;
	width: 100%;
	height: 100%;
}

.visualboxwrap .health-img {
	position: absolute;
	opacity: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.visualbox {
	width : 100%;
	height : 100%;
	position : relative;
	display : flex;
	flex-direction: column;
	margin : 0 auto;
	align-items: center;
	justify-content: center;
}

.visualbox p {
	font-size : 80px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #fff;
	margin-bottom : 20px;
}

.subMenuTab {
	margin : 0 auto;
	width: 100%;
	display : flex;
	align-items: center;
	justify-content: center;
	gap : 25px;
}

.homeIcon {
	width: 30px;
	height: 30px;
}

.homeIcon img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.subMenuTab .arrow {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

.subMenuTab a {
	font-size : 20px;
	letter-spacing: -0.25px;
	color: #fff;
}

.subMenuTab a:nth-child(5) {
	font-weight: bold;
}

/* visual 영역 끝 health 영역 시작 */

.titlewrap {
	width: 100%;
	margin-bottom : 60px;
}

.title {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	align-items: center;
}

.titleText {
	margin : 0 auto;
	text-align : center;
	display : flex;
	flex-direction: column;
}

.titleText span {
	font-size : 24px;
	letter-spacing: -25%;
	color : #1C3D5A;
	margin-bottom : 20px;
	font-weight: bold;
	margin-bottom : 15px;
}

.titleText p {
	font-size : 50px;
	color : #333333;
}

.titleText p b {
	font-weight: bold;
}

/* health 영역 끝 healthTable 영역 시작 */

.healthTable {
	width : 1620px;
	height: 351px;
	background-color : #000;
	margin : 0 auto;
	display : flex;
	margin-bottom : 80px;
}

/* healthTable 영역 끝 healthContent 영역 시작 */

.healthContentwrap {
	width : 100%;
	margin-bottom : 150px;
}

.healthContent {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	position: relative;
	flex-direction: column;
}

.healthTitle {
	width: 100%;
	margin-bottom : 35px;
}

.healthTitle span {
	display : flex;
	font-size : 24px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 15px;
}

.healthSubTitle {
	width : 100%;
	display : flex;
}

.healthTitle p {
	font-size : 40px;
	line-height: 50px;
	color : #333;
}

.healthTitle p b {
	font-weight: bold;
}

.healthLine {
	display : flex;
	align-self : flex-end;
	position : absolute;
	right : 0;
	width : 86%;
	height: 2px;
	background-color: #DDDDDD;
	margin-bottom : 6px;
}

.health {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	position: relative;
	gap : 7px;
}

.healthbox {
	display : flex;
	flex-direction : column;
	align-items: center;
	text-align : center;
	justify-content: center;
	width : 400px;
	height: 400px;
	background-color: #000;
}

.healthbox img {
	position : relative;
	width : 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 30%;
}

.healthboxText {
	display : flex;
	position : absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.healthboxText h2 {
	font-size : 40px;
	color : #fff;
	font-weight: bold;
	margin-bottom : 15px;
}

.healthboxText a {
	display : flex;
	justify-content: center;
	align-items : center;
	font-size : 20px;
	color : #fff;
	width : 140px;
	height: 45px;
	border : 1px solid #fff;
	border-radius: 70px;
	transition: background-color 0.3s ease color 0.3s ease;
}

.healthboxText a:hover {
	color : #1C3D5A;
	background-color: #fff;
	font-weight: bold;
}