@charset "UTF-8";

.content {
	width : 100%;
	margin-top : 120px;
}

/* visual 영역 시작 */

.visualwrap {
	width: 100%;
	height: 911px;
	position: relative;
	margin-bottom : 80px;
}

.visual-bg {
	position : absolute;
	background-color: #000;
	width: 100%;
	height: 100%;
}

.visualboxwrap {
	position : relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation : changeBackground 10s linear infinite;
}

.visualbox {
	margin-top : 150px;
	margin-left : 150px;
	position : absolute;
	display : flex;
	flex-direction: column;
}

.titleText {
	color : #fff;
	font-size : 60px;
	line-height: 80px;
	letter-spacing: -0.25px;
	margin-bottom : 40px;
}

.titleText b {
	font-weight: bold;
}

.contentText {
	color : #fff;
	font-size : 24px;
	line-height: 34px;
	letter-spacing: -0.25px;
	margin-bottom : 60px;
}

.contentText b {
	font-weight: 600;
}

.showLineBar {
	width : 710px;
	height: 3px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.loadingBar {
	width: 0;
	height: 100%;
	background-color: #5BC0DE;
	animation : loadingAnimation 5s linear infinite;
}

@keyframes changeBackground {
    0%, 45% {
        background-image: url("/img/main/visualimg.png");
    }
    46%, 50% {
        background-image: url("/img/main/visualimg2.png");
        transition: background-image 2s ease-in-out;
    }
    51%, 95% {
        background-image: url("/img/main/visualimg2.png");
    }
    96%, 100% {
        background-image: url("/img/main/visualimg.png");
        transition: background-image 2s ease-in-out;
    }
}

@keyframes loadingAnimation {
    0% {
        width: 0;
        background-color: #5BC0DE;
    }
    80% {
        width: 80%;
        background-color: #5BC0DE;
    }
    100% {
        width: 100%;
        background-color: #5BC0DE;
    }
}

/* visual 영역 끝 service 영역 시작 */

.servicewrap {
	width: 100%;
	margin-bottom : 100px;
}

.service {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	align-items: center;
}

.serviceText {
	height: 100%;
	width : 30%;
}

.serviceContent {
	font-size: 24px;
	letter-spacing: -0.25px;
	line-height: 40px;
	color : #1C3D5A;
	font-weight: bold;
	margin-bottom : 15px;
}

.serviceTitle {
	font-size : 40px;
	line-height: 50px;
	color : #333;
}

.serviceTitle b {
	font-weight: bold;
}


.serviceMenu {
	width: 70%;
	height: 100%;
	position: relative;
	align-items: center;
	display: flex;
	gap : 100px;
}

.medicMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease;
	cursor: pointer;
}

.medicMenu:hover .menuIcon {
	background-color: #1C3D5A;
}

.medicMenu:hover .menuIcon img {
	filter : invert(1) brightness(100);
}

.medicMenu:hover .menuText {
	font-weight: bold;
}

.menuIcon {
	width: 100px;
	height : 100px;
	border-radius: 100%;
	background-color: #f5f5f5;
	position: relative;
	display :flex;
	align-items: center;
	justify-content: center;
	margin-bottom : 15px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s easeW;
}

.menuIcon img {
	width : 40px;
	height: 40px;
	position: absolute;
}

.menuText {
	font-size : 18px;
	color : #333;
}

/* service 영역 끝 medical 영역 시작 */

.medicalwrap {
	width: 100%;
	margin-bottom : 170px;
}

.medical {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	align-items: center;
}

.medicalimg {
	position : relative;
	width : 1000px;
	height: 600px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.medicalimg img {
	width : 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.medicalimg::before {
	content : "";
	position: absolute;
	top : 70px;
	left : 500px;
	width: 1120px;
	height: 600px;
	background-color: #1C3D5A;
	z-index : -1;
}

.medicalContent {
	margin-left : 70px;
	margin-top : 50px;
}

.medicalContentwrap {
	display :flex;
	flex-direction: column;
}

.medicalText {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -0.25px;
	line-height: 40px;
	color : #8AE4FF;
	margin-bottom : 15px;
}

.medicalTitle {
	font-size : 40px;
	line-height: 50px;
	color : #fff;
	margin-bottom : 30px;
}

.medicalTitle b {
	font-weight: bold;
}

.medicalLine {
	width: 550px;
	height: 3px;
	background-color: #fff;
	opacity: 20%;
	margin-bottom : 30px;
}

.medicalSubText {
	font-size : 20px;
	letter-spacing: -0.5px;
	line-height: 30px;
	color : #fff;
	margin-bottom : 25px;
}

.medicalBtn {
	width: 200px;
	height: 60px;
	background-color: #5BC0DE;
	display :flex;
	align-items: center;
	justify-content: center;
}

.medicalBtn span {
	font-size : 20px;
	letter-spacing: -0.25px;
	line-height: 30px;
	font-weight: bold;
	color : #fff;
}

/* medical 영역 끝 department 영역 시작 */
.department-bg {
	width : 100%;
	height: 1330px;
	background-color : #f5f5f5;
	position: absolute;
	top : 1710px;
	z-index : -10;
}

.departmentwrap {
	width: 100%;
}

.department {
	width : 100%;
	max-width: 1620px;
	margin : 0 auto;
	display :flex;
	flex-direction: column;
	align-items: center;
}

.departmentText {
	margin : 0 auto;
	text-align : center;
	display : flex;
	flex-direction: column;
	margin-bottom : 50px;
}

.departmentText span {
	font-size : 24px;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 20px;
	font-weight: bold;
	margin-bottom : 15px;
}

.departmentText p {
	font-size : 50px;
	color : #333333;
}

.departmentText p b {
	font-weight: bold;
}

.departmentContentwrap {
	display: flex;
	width: 100%;
	margin : 0 auto;
	gap : 45px;
	margin-bottom : 100px;
}

.departmentContent {
	width : 510px;
	height: 650px;
	background-color : #000;
	position: relative;
}

.departmentContent-img {
	display :flex;
	position: relative;
}

.departmentContent:nth-child(1) .departmentContent-img {
	background-image: url("/img/main/sugery.png");
	width : 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.departmentContent:nth-child(2) .departmentContent-img {
	background-image: url("/img/main/medicine.png");
	width : 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.departmentContent:nth-child(3) .departmentContent-img {
	background-image: url("/img/main/psychiatry.png");
	width : 100%;
	height: 100%;
	background-repeat: no-repeat;
}

.departmentContent-text {
	display :flex;
	flex-direction: column;
	position: absolute;
	bottom : 0px;
	margin-left : 50px;
	margin-bottom : 80px;
}

.departmentContent-text span {
	font-size : 24px;
	color : #fff;
	letter-spacing: -0.25px;
	font-weight: bold;
	margin-bottom : 10px;
}

.departmentContent-text p {
	font-size : 40px;
	color : #fff;
	line-height: 50px;
	margin-bottom : 25px;
}

.departmentContent-text p b {
	font-weight: bold;
}

.departmentContent-text a {
	width : 150px;
	height: 50px;
	border : 2px solid #fff;
	border-radius: 100px;
	color : #fff;
	font-size : 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease, transform 0.3s easeW;
}

.departmentContent-text a:hover {
	background-color : #fff;
	color : #1C3D5A;
	font-weight: bold;
}

/* department 영역 끝 smartCare 영역 시작 */

.smartCarewrap {
	width: 100%;
	height : 800px;
	background-color : #1C3D5A;
	display : flex;
	margin-bottom : 20px;
}

.smartCare {
	display: flex;
	width: 100%;
	max-width: 1620px;
	margin : 0 auto;
}

.smartCare-Text {
	display : flex;
	flex-direction: column;
	justify-content: center;
}

.smartCare-Text span:nth-child(1) {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -0.25px;
	color : #8AE4FF;
	margin-bottom : 15px;
}

.smartCare-Text p {
	font-size : 40px;
	line-height: 50px;
	color : #fff;
	margin-bottom : 25px;
}

.smartCare-Text p b {
	font-weight: bold;
}

.smartCare-Text span:nth-child(3) {
	font-size: 20px;
	letter-spacing: -0.5px;
	color : #fff;
	line-height: 30px;
}

.smartCare-Text span:nth-child(3) b {
	font-weight: bold;
}

.smartCare-img {
	margin-top : 100px; /* 추후에 바꿀 예정 우선 이렇게 삽입 */
	display : flex;
	position : absolute;
	right : 0;
	width : 950px;
	height : 600px;
	box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.25);
}

.smartCare-img img {
	width : 100%;
	height: 100%;
	background-repeat: no-repeat;
}

/* smartCare 영역 끝 showTextBar 영역 시작 */

.textContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px;
  white-space: nowrap;
  margin-bottom : 80px;
}

.showTextBar {
  display: flex;
  align-items: center;
  animation: marquee 10s linear infinite;
}

.showTextBar span {
  font-size: 150px;
  font-weight: 900;
  color: #000;
  opacity: 0.03;
  white-space: nowrap;
  padding-right: 50px;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* showTextBar 영역 끝 notice 영역 시작 */

.noticewrap {
	width: 100%;
	margin-bottom : 150px;
}

.notice {
	display: block;
	width: 100%;
	max-width: 1620px;
	margin : 0 auto;
}

.noticeText {
	margin : 0 auto;
	text-align : center;
	display : flex;
	flex-direction: column;
	margin-bottom : 50px;
}

.noticeText span {
	font-size : 24px;
	letter-spacing: -0.25px;
	color : #1C3D5A;
	margin-bottom : 20px;
	font-weight: bold;
	margin-bottom : 15px;
}

.noticeText p {
	font-size : 50px;
	color : #333333;
}

.noticeText p b {
	font-weight: bold;
}

/* 병원소식 css 여기 아래부터 시작하시면 됩니다. */

.news-grid {
	display: grid;
	grid-template-columns: repeat(3, 530px);
	grid-auto-rows: 300px;
	gap: 15px; /* 그리드 아이템 간의 간격 */
	max-width: 1620px; /* 필요에 따라 최대 너비 설정 */
	margin: 0 auto; /* 중앙 정렬 */
}

.news-item {
	background-color: #F5F5F5; /* 박스 배경 */
	padding: 50px;             /* 내부 여백 */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* 게시글 제목 스타일 */
.news-item h3 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; /* 단일 라인 */
}

/* 게시글 내용 스타일 */
.news-item p {
	font-size: 20px;
	color: #333333;
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing : -0.5px;
	display: -webkit-box; /* flexbox와 호환되도록 설정 */
	-webkit-line-clamp: 5; /* 표시할 라인 수 */
	-webkit-box-orient: vertical;
}

/* 날짜 스타일 */
.news-date {
	font-size: 18px;
	color: #AAAAAA;
	margin-top: 10px;
	letter-spacing: -0.25px;
}

/* "자세히 보기" 링크 스타일 */
.news-item a {
	font-size: 18px;
	text-decoration: none;
	color: #1C3D5A;
	font-weight: bold;
	margin-top: 10px;
	align-self: flex-end;
}

.news-item a:hover {
	text-decoration: underline;
}

.news-item:hover {
	background-color: #1C3D5A; /* 호버 시 배경색 변경 */
	transition: background-color 0.3s ease, transform 0.3s ease;
}

/* news-footer 컨테이너 설정 */
.news-footer {
	display: flex;
	justify-content: space-between; /* 양 끝으로 요소 배치 */
	align-items: center;            /* 수직 중앙 정렬 */
	margin-top: 10px;               /* 상단 여백 조절 */
}

/* 호버 시 내부 텍스트 색상 변경 */
.news-item:hover h3 {
	color: #FFFFFF
}

.news-item:hover p {
	color: #FFFFFF
}

.news-item:hover .news-date {
	color: #FFFFFF
}

.news-item:hover a {
	color: #FFFFFF
}


.no-notice {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #F5F5F5; /* 박스 배경 */
	color: #1C3D5A; /* 텍스트 색상 */
	font-size: 22px; /* 글씨 크기 */
	font-weight: bold; /* 글씨 두께 */
	padding: 50px; /* 내부 여백 */
	border: 2px dashed #1C3D5A; /* 점선 테두리 */
	border-radius: 10px; /* 둥근 모서리 */
	margin-top: 20px; /* 상단 여백 */
	grid-column: span 3; /* 그리드의 전체 열을 차지 */
}
